:host {
    display: inline-flex;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    width:15%;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.719);
    min-width: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    
    cursor:pointer;
    &:hover {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; 
        box-sizing: border-box; 
        
        background: linear-gradient(-45deg, #202020c0, #4f545979, #4f545985, #4f54598e);
        background-size: 400%;
        animation: gradient 5s ease-in-out infinite;
    }


    &.is-active {
        
        border-top:1px solid #f2f0eb;
        border-left:1px solid #f2f0eb;
        border-right:1px solid #f2f0eb;
        box-shadow: 0   1px 0 #272727;
        width: 20%;
        
        background: linear-gradient(-180deg, #202020c0, #4f545979 1%, #4f545985, #4f54598e);
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        box-sizing: border-box; 

    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:white;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }