.containerr {
    display: block;
    position: relative;
    width: 70px;
    min-width: 70px;
    min-height: 70px;
    height: 70px;
    background-color: green;
    border-radius: 10px;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;  
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.grade{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 1000;
}

.date {
    position: relative;
    top: -20px;    
    font-size: 10px;
    font-weight: 1000;

}
