<div class = "container" [ngStyle]="{ 'height': session.attended  ? '200px' : '100px', 'background-color' : session.attended  ? 'rgba(122, 122, 122, 0.644)' : 'rgba(214, 15, 1, 0.644)'}">
    <div class = "row">
        <div class = "logo">
            <span>{{selectedUser!.name[0]}}</span>
        </div>
        <div class = "info">
            <p id="studentname">{{selectedUser?.name}}</p>
            <p id="teamname">{{userTeamName}}</p>
            <p id="attendance">{{session.attended ? 'Attending!' : 'Missing..'}}</p>
        </div>
        <div class = "buttons">
            <span class="buttons-attendance" (click)="onAttendanceClick()">ATTENDANCE</span>
            <span *ngIf="this.session.attended" (click)="onGradeClick()" class="buttons-attendance">GRADE</span>
        </div>
    </div>
    <div *ngIf="this.session.attended" class = "data">
        <textarea [(ngModel)]="message" placeholder="Message.." class = "message"></textarea>
        <textarea [(ngModel)]="grade" placeholder="" class = "grade"></textarea>
    </div>
</div>
