<div class = "container" [ngStyle]="{ 'height': session.attended  ? '200px' : '100px'}">
    <div class = "row">
        <div class = "logo">
            <span>{{selectedUser!.name[0]}}</span>
        </div>
        <div class = "info">
            <p id="studentname">{{selectedUser?.name}}</p>
            <p id="teamname">{{userTeamName}}</p>
            <p id="attendance">{{session.attended ? 'Attending!' : 'Missing..'}}</p>
        </div>
        <div class = "buttons">
            <span class="buttons-attendance" [ngStyle]="{ 'background-color' : session.attended  ? '#01990e' : 'rgba(214, 15, 1, 0.644)' }" (click)="onAttendanceClick()">ATTENDANCE</span>
            <span *ngIf="this.session.attended" (click)="onGradeClick()" class="buttons-attendance">GRADE</span>
        </div>
    </div>
    <div *ngIf="this.session.attended" class = "data">
        <textarea [(ngModel)]="message" placeholder="Message.." class = "message"></textarea>
        <textarea [(ngModel)]="grade" placeholder="" class = "grade"></textarea>
    </div>
</div>
