:host {
    margin: 10px 20px 20px 10px;  
}
.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    max-height: 200px;
    background-color: rgba(122, 122, 122, 0.644);
    border-radius: 20px;
    // justify-content: center;
    // justify-items: center;
    // align-items: center;
    margin: auto;

    & p{
        color:white;
    }

    transition: all 0.35s ease-in-out;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 100px;
    // background-color: blue;
}

.logo span{
    display:block;  
    height: 4rem;
    width: 4rem;
    background-color: rgb(40, 126, 255);
    border-radius: 100%;
    outline: 2px solid white;
    color:white;
    text-align: center;
    line-height: 4rem;

    margin-top: 1rem;
    margin-left: 1rem;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
    font-size: 30px;
}

.info {
    text-align: left;
    justify-content: left;
    margin-left: 20px;

    & #studentname{
        font-weight: 1000;
        font-size: 20px;
    }

    & #teamname{
        margin-top: -20px;
    }

    & #attendance{
        margin-top: -20px;

    }
}

.buttons{
    margin-left:auto;
    margin-right: 10px;
    &-attendance{
        
        cursor: pointer;
        display:block;  
        height: 2rem;
        width: 4rem;
        background-color: rgb(40, 126, 255);
        border-radius: 10px;
        outline: 2px solid white;
        color:white;
        text-align: center;
        line-height: 2rem;
    
        margin-top: 0.5rem;
        margin-left: 1rem;
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 1000;
        font-size: 10px;
    }
}

.data{
    display: flex;
    flex-direction: row;
    & .message{
        font-size: 15px;
        display: flex;
        border-radius: 10px;
        height: 70px;
        width: 250px;
        margin: 0 auto 0 auto;
    }
    & .grade {
        line-height: 70px;
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        font-size: 30px;
        display: flex;
        margin-top:-30px;
        top:-30px;
        border-radius: 10px;
        height: 70px;
        width: 70px;
        margin: 0 auto 0 auto;

    }
}