:host {
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    // margin-top: 30px;
    width: 470px;
    height: 100px;
    padding-right: 10px;
    background-color: rgba(37, 37, 37, 0.822);
    border-radius: 20px;

    

    
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: scroll; 
   

    scroll-margin-bottom: 20px;
  

    &::-webkit-scrollbar {
        height: 5px;
        margin-bottom: 5px;
      }
      

      &::-webkit-scrollbar-track {
        display: none;
        background-color: rgb(48, 48, 48);
        border-radius: 4px;
        margin-bottom: 5px;
      }
       

      &::-webkit-scrollbar-thumb {
        
        background: rgba(51, 98, 253, 0.664);
        background-size: 400%;
        border-radius: 4px;
        margin-bottom: 5px;
      }
      

      &::-webkit-scrollbar-thumb:hover {
        animation: gradient 5s ease-in-out infinite;
      }

}

.container h1 {
  margin:auto;
}