:host {
    padding-top: 0.5%;
    z-index: 2;
    position: relative;
    display: flex;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.425);
    text-align: center;
    justify-content: center;
    justify-items: center;
    border-bottom: 1px solid rgb(1, 72, 224);
    backdrop-filter: blur(10px);
    top: 0;
}