<div class = "sidenav"  [style.left.%]="containerPosition">
  <div class="sidemenu">
      <app-side-menu-card *ngFor="let activitiy of activities" (click)="onClick(activitiy, activitiy.id, activitiy.name)" [name]="activitiy.name"></app-side-menu-card>
      <app-add-activity-card class="containerr"  (click)="onClickAll()" [text]="'SEE ALL TEAMS'"></app-add-activity-card>
      <app-add-activity-card class="containerr" (click)="onClickAllStudents()" [text]="'SEE ALL USERS'"></app-add-activity-card>
      <app-add-activity-card class="containerr" (click)="onClickCreateActivity()" [text]="'CREATE ACTIVITY'"></app-add-activity-card>

  </div>
  <div class="pullbar" (click)="moveContainerLeft()">
      {{symbol}}
  </div>
</div>
<div class="background">    
  <div class="containerul">
      <h1>{{ title }}</h1>
      <ng-container *ngIf="selectedActivityTeams != null">
        <app-side-menu-card  *ngFor="let team of selectedActivityTeams"  (click)="onTeamClick(team.id_team, team.team_name )" [isActivity]="selectedActivity ? true : false" [name]="team.team_name"></app-side-menu-card>
        
        <app-add-activity-card *ngIf="title!='All teams'" class="containerr" [text]="'ENROLL A TEAM'"></app-add-activity-card>
        <app-add-activity-card *ngIf="title=='All teams'" class="containerr" [text]="'CREATE NEW TEAM'"></app-add-activity-card>
      </ng-container>

      <ng-container *ngIf="selectedActivityTeams == null && allStudents == false">
        <app-team-card *ngFor="let user of users" [currentUser]="currentUser" [user]="user" [selectedActivity]="selectedActivity" ></app-team-card>
        <app-add-activity-card class = "containerr" [text]="'ADD MEMBER'"> + </app-add-activity-card>
      </ng-container>

      <ng-container *ngIf="selectedActivityTeams == null && selectedActivity == undefined && allStudents == true">
        <ng-container *ngFor="let group of groupedUsersArray" >
          <div class = "teamid"><h2 class="teamidtxt">{{ group[0].id_team ? 'Team ID: '+group[0].id_team : 'NO TEAM'}}</h2></div>
          <ng-container *ngFor="let user of group">
            <app-team-card [currentUser]="currentUser" [user]="user"></app-team-card>
          </ng-container>
          
        </ng-container>
        <app-add-activity-card class = "containerr" [text]="'CREATE USER'" style="margin-bottom: 0; margin-top: 40px"> + </app-add-activity-card>
        <app-add-activity-card class = "containerr" [text]="'CREATE TEAM'"> + </app-add-activity-card>
      </ng-container>
  </div>
</div>
