<div class = "container" (click)="onClick(); $event.stopPropagation()" [ngStyle]="{'height' : seeGrades ? '200px' : '80px'}">
    <div class = "buttons">
        <!-- <span class="JOIN">
            +
        </span> -->
        <span *ngIf="isLeader == true" class="remove">
            X
        </span>
    </div>
    <div class="text">
        <p>
            {{ activity.name }}
        </p>
    </div>

    <app-grades-list *ngIf="seeGrades == true" [selectedActivity]="activity"></app-grades-list>
</div>

<!-- <div class = "grades" *ngIf="seeGrades == true">
        <app-grades-list [selectedActivity]="activity"></app-grades-list>
</div> -->
