:host{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    
}

.container{
    width: 90%;
    background-color: rgba(31, 31, 31, 0.774);
    display:block;
    margin-bottom: 2%;
    border-radius: 30px;
    height: 80px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    color: white;
    filter: drop-shadow(5px 10px 4px #1414148e);

    &:hover {
        filter: drop-shadow(15px 10px 4px #14141463);
        transform: translateY(-2px);
        width: 91%;
    }
}

p {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 1000;
    line-height: 40px;
}