:host{
    background-color: linear-gradient(to bottom right, #333333, #007BFF);
    padding: 0;
    margin: 0;
}

body { 
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}