:host{
    display: inline-flex;
    justify-content: center;
}

.container{
    width: 70%;
    background-color: grey;
    display:block;
    margin-bottom: 2%;
    border-radius: 30px;
    min-width: 300px;
    height: 80px;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(-2px);
        outline: 2px solid rgba(150, 150, 150, 0.788)
    }
}
.container {
    background-color: rgb(40, 126, 255);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 80px;
    padding: 0;

    &:hover{
        outline-color: rgb(40, 126, 255);
        background-color: rgb(40, 126, 255);
        width: 71%;
    }


}

p {
    position: relative;
    top: -90px;
}
