:host{
    display: inline-flex;
    justify-content: center;
}


.container {
    width: 90%;
    display:block;
    margin-bottom: 2%;
    border-radius: 30px;
    min-width: 300px;
    height: 80px;
    background-color: #8593A1;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 80px;
    padding: 0;
    transition: all 0.2s ease-in-out;
    
    filter: drop-shadow(5px 10px 4px #1414148e);
    
    background: #8593A1;
    background-size: 400% 400%;

    &:hover{        
        animation: gradient 5s ease-in-out infinite;
        animation-direction: normal;
        
        transform: translateY(-2px);
        outline: 2px solid rgba(150, 150, 150, 0.788);
        outline-color: #8593A1;
        background-color: #89888cb4;
        width: 92%;
        
        filter: drop-shadow(15px 10px 4px #14141463);
        
        
    }


}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

p {
    position: relative;
    top: -90px;
}
