:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: rgba(78, 78, 78, 0.432);
    border-radius: 30px;
    margin-top: 5%;
    padding: 1%;
    min-width: 450px;
    margin-bottom: 3rem;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    color: white;
    text-align: center;
}

