:host{
    display: inline-flex;
    justify-content: center;
}

.container{
    width: 70%;
    background-color: grey;
    display:block;
    margin-bottom: 2%;
    border-radius: 30px;
    min-width: 300px;
    height: 80px;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(-2px);
        outline: 2px solid rgba(150, 150, 150, 0.788)
    }
}
.container {
    min-width: 450px;
    height: 100px;
    display: inline-flex;
}

.team-card {
    &-userlogo span{
        display:block;  
        height: 4rem;
        width: 4rem;
        background-color: rgb(40, 126, 255);
        border-radius: 100%;
        outline: 2px solid white;
        color:white;
        text-align: center;
        line-height: 4rem;

        margin-top: 1rem;
        margin-left: 1rem;
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 1000;
        font-size: 30px;
    }

    &-details {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    &-details p {
        margin: 0;
        padding: 0;
        margin-top: 0.2rem;
        margin-left: 1rem;
    }
    
    &-details h1{
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 28px;
    }
    &-details h1.page-header {
        margin: 0;
        padding: 0;
    }    
}



.kick-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(209, 25, 25);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    font-size: 20px;
    margin-left: auto;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        
        background-color: rgb(184, 24, 24);
    }
  }

  .role {
    margin: 0;
    position: relative;
    top: -0.5rem;
    font-size: 15px;
  }