:host{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    &::ng-deep app-grades-list .container {
        width: 600px;
    }
}

.container{
    flex-wrap: wrap;
    width: 90%;
    z-index: 1;
    display:block;
    margin-bottom: 2%;
    border-radius: 30px;
    min-width: 300px;
    height: 80px;
    transition: all 0.2s ease-in-out;
    min-width: 500px;
    height: 100px;
    display: inline-flex;
    
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 10px 4px #1414148e);
    
    background: linear-gradient(-45deg, #888888, #777676, #888888, #747474);
    background-size: 400%;

    &:hover {
        filter: drop-shadow(15px 10px 4px #14141463);
        transform: translateY(-2px);
        
        animation: gradient 5s ease-in-out infinite;
        outline: 2px solid rgba(150, 150, 150, 0.788)
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.team-card {
    &-userlogo span{
        display:block;  
        height: 4rem;
        width: 4rem;
        background-color: rgb(40, 126, 255);
        border-radius: 100%;
        outline: 2px solid white;
        color:white;
        text-align: center;
        line-height: 4rem;

        margin-top: 1rem;
        margin-left: 1rem;
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 1000;
        font-size: 30px;
    }

    &-details {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    &-details p {
        margin: 0;
        padding: 0;
        margin-top: 0.2rem;
        margin-left: 1rem;
    }
    
    &-details h1{
        margin: 0;
        padding: 0;
        margin-top: 0.9rem;
        margin-left: 1rem;
        font-size: 28px;
    }
    &-details h1.page-header {
        margin: 0;
        padding: 0;
    }    
}

.you {
    display: flex;
    font-size: 10px
}

.kick-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(209, 25, 25);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    font-size: 20px;
    margin-left: auto;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        
        background-color: rgb(184, 24, 24);
    }
  }

  .promote-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-image: url("/assets/promote.png");
    background-size: cover;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    font-size: 20px;
    margin-right: 1.5rem;
    margin-left: 0;
    margin-top: 1.5rem;
    transition: all 0.2s ease-in-out;


  }

  .role {
    margin: 0;
    line-height:0px;
    position: relative;
    font-size: 15px;
    top: -0.6rem;
    &#bold{
        font-weight: 1000;
    }
  }

  .grades {
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    top: -35px;
    margin-top: 0;
    height: 150px; 
    width: 90%;
    border-radius: 0 0 20px 20px;
    background-color: rgba(143, 143, 143, 0.884);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

app-grades-list {
    margin: 0 auto 0 auto;
}