body{
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at top right, #0169d8c7, rgba(31, 31, 31, 0.9) 50%);

}
.container{
    width: 70%;
    background-color: grey;
    display:block;
    margin-bottom: 2%;
    border-radius: 30px;
    min-width: 300px;
    height: 80px;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(-2px);
        outline: 2px solid rgba(150, 150, 150, 0.788)
    }
}